.navigasi{
    position: fixed;
    background-color: #071a2f;
    height: 3rem;
    padding-top: 0.3rem;
    opacity: 0.8;
    z-index: 100;

}
.justify-content-end{
    margin: 0.3rem;
    padding-bottom: 0.3rem;
    color: white;

}